@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../fonts/Gilroy-Thin.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Circe";
  font-display: swap;
  src: url("../../fonts/Circe-Thin.woff") format("woff");
}


