.footer {
  color: var(--basic-white);
  background: linear-gradient(93.29deg, #388af3 21.04%, #a483e2 88.77%);
  background-size: cover;
  &__top {
   justify-content: space-between;
   width: 100%;
   display: flex;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    gap: 20px;
    display: flex;
  }
  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--basic-white);
    text-transform: uppercase;
  }
  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__list-contacts {
    list-style-type: none;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
  }
  &__list-btn {
    background-color: transparent;
    border: none;
  }
  &__lists {
    display: flex;
    gap: 73px;
    margin-left: 6%;
  }
  &__items {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
  }
  &__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 60px;
   padding-top: 42px;
   width: 62%;
   margin: 0 auto;
  }
  &__list-contacts {
   padding: 0;
   display: flex;
   flex-direction: column;
   gap: 13px;
   margin-top: 63px;
   margin-left: -128px;
  }
}
